body {
  background-image: url(confess.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
}

form {
  margin: auto;
  padding: 138px;
  width: 400px;
  position: center;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  padding: 10px;
  width: 200px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 32px;
  display: block;
  margin: 0 auto;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}