body {
  margin: 0;
  padding: 0;
  height: 100vh; 
}

.container {
  background-image: url(issue.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 400%;
  overflow: auto;
}